<ng-container 
*ngFor="let list of navLists">
    <a mat-list-item 
    routerLink="{{list.link}}"
    routerLinkActive="active"
    *ngIf="(isAuth$ | async) != list.anonymus"
    (click)="onSidenavClose()">
        <mat-icon>{{list.icon}}</mat-icon>
        <span class="list-name">{{list.name}}</span>
    </a>
</ng-container>
<mat-list-item (click)="logout();onSidenavClose()" *ngIf="isAuth$ | async">
    <button mat-icon-button>
        <mat-icon>eject</mat-icon>
        <span class="list-name">Logout</span>
    </button>
</mat-list-item>