<div class="left-part">
    <button class="sidenav-toggle d-lg-none d-md-none d-sm-none" (click)="onSidenavToggle()">
            <mat-icon color="white">reorder</mat-icon>
    </button>
<div><a routerLink="/welcome">Logo</a></div>
</div>
<div class="right-part d-none d-sm-flex d-md-flex d-lg-flex">
<div class="tabs">
    <ul>
        <li *ngIf="!(isAuth$ | async)">
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="!(isAuth$ | async)">
            <a routerLink="/signup" routerLinkActive="active">Signup</a>
        </li>
        <li *ngIf="isAuth$">
            <a routerLink="/training" routerLinkActive="active">Trainig</a>
        </li>
        <li *ngIf="isAuth$" (click)="logout()">
            <a>Logout</a>
        </li>
    </ul>
</div>
</div>  