@import "../mixins";

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.mat-drawer-container {
    height: 100vh;
    @include gradient-violet;
}
.mat-toolbar, app-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
app-header {
    margin-bottom: 0;
    width: 100%;
}
.mat-sidenav {
    width: 250px;
}
