<mat-sidenav-container>
    <mat-sidenav opened="false" #sideNav role="navigation">
        <mat-nav-list>
            <app-sidenav (closeEvent)="sideNav.close()"></app-sidenav>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <app-header (toggleEvent)="sideNav.toggle()"></app-header>
        </mat-toolbar>
        <main>
                <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>